#map { 
	height: 400px;

 }

.row{
	margin-top: 1%;
	text-align: center;
}

label {
	display: block;
}

.titu-margin{
	margin-top: 3%;
}

.titles{
	border-bottom: 2px solid lavenderblush;
  margin-bottom: 3%;
}

.inline-label{
	display: inline;
}

.bold-estado{
	font-weight: bold;
}

.btn-width{
	width: 100%;
}


.form_login{
  margin: 15% 41%;
}

.welcome-title{
  position: relative;
  top: 25%;
  border-bottom: 1px solid grey;
  width: 50%;
  /* text-align: center; */
  left: 25%;
}


