#map { 
	height: 400px;

 }

.row{
	margin-top: 1%;
	text-align: center;
}

label {
	display: block;
}

.titu-margin{
	margin-top: 3%;
}

.titles{
	border-bottom: 2px solid lavenderblush;
  margin-bottom: 3%;
}

.inline-label{
	display: inline;
}